@model IEnumerable<GestionHonda.Models.ChangeLog>

<h2 class="text-center">Historial de Cambios</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Acción</th>
            <th>Modelo</th>
            <th>Fecha y Hora</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.Action</td>
                <td>@log.ModelName</td>
                <td>@log.Timestamp</td>
            </tr>
        }
    </tbody>
</table>
